.button{
    margin-top: 5%;
}
#addLocation{
    margin-bottom: 2%;
}
#hideAddLocation{
    margin-bottom: 5%;
}
.hasError .form-control {
    background-color: #f8d7da;
    border-color: #721c24;
}
.center_alert{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}