.center_div{
    margin: 0 auto;
    background-color:#808080;  
    width:40% /* value of your choice which suits your alignment */    ;
    text-align: center;
}

.register{
    margin: 0 auto;
    width:40%;
    margin-top: 4%;
}

.color_text{
    color: red;
    text-decoration: bold
}

.btn{
    margin-bottom: 5%;
    margin-top: 5%;
}

.hasError .form-control{
        //color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
}

.center_alert{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}