.center_div{
    margin: 0 auto;
    background-color:#808080;  
    width:40% /* value of your choice which suits your alignment */    ;
    text-align: center;
}
.btn{
    margin-bottom: 5%;
    margin-top: 5%;
}
.center_alert{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
.hasError .form-control {
    background-color: #f8d7da;
    border-color: #721c24;
}