<p>Bonjour <%= userlastName %> <%= userfirstName %>  , </p>
<p>
Nous vous remercions pour votre inscription en tant qu'<%= contentStatus %> 
</p>
<p>
Vous pouvez désormais accéder à votre interface : <a href="http://localhost:4200/">Connectez vous</a></a>
</p>
