.custom-text{
    color:#28a745;
    font-weight: bold;
    //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: inset;
    text-align: center;
    width: 240px;
}

#logout{
        color:red;
}

header{
    margin-bottom: 4%;
}

