.center_div{
    margin: 0 auto;
    background-color:#9a8d8d;  
    width:100% /* value of your choice which suits your alignment */    ;
    text-align: center;
}

.register{
    margin: 0 auto;
    width:100%;
    margin-top: 4%;
}

.color_text{
    color: red;
    text-decoration: bold
}

.btn{
    margin-bottom: 5%;
    margin-top: 5%;
}

#message{
    margin-top: 2%
}